@tailwind base;
@tailwind components;
@tailwind utilities;

/* TUTTE LE SCROLLBAR MODIFICATE */
*{
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

/* ANIMAZIONE CAMBIO PAGINA */

.fade-enter {
    opacity: 0;
    transform: translateY(20px); /* Leggero movimento verso il basso */
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Animazione di 2 secondi */
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 2s ease-in-out; /* Animazione di 2 secondi */
}

.fade {
    position: absolute;
    width: 100%;
    height: 100%;
}